<ion-view view-title="Feed">
  <ion-content class="padding">
    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="hashtag" ng-model="hashtag.name">
      </label>
      <button class="button button-small" ng-click="getMedia()">
        Search
      </button>
    </div>
    
    <div class="list card" ng-repeat=" item in data" ng-model="data">

      <div class="item item-avatar">
        <img ng-src="{{item.user.profile_picture}}">
        <h2>{{item.user.full_name}}</h2>
        <p>{{item.user.username}}</p>
      </div>

      <div class="item item-body">
        <img class="full-image" ng-src="{{item.images.low_resolution.url}}">
        <p>
          {{item.caption.text}}
        </p>
        <p>
          <a href="#" class="subdued">{{item.likes.count}} Likes</a>
          <a href="#" class="subdued">{{item.comments.count}} Comments</a>
        </p>
      </div>
  </div>
  </ion-content>
</ion-view>
